
body {
    background-color: $color-green-bg;
    color: $color-grey-text;
    display: grid;
    font-family: $font-stack;
    font-size: 16px;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    place-items: center;
    width: 100vw;
}

fieldset {
    border: none;
    padding-left: 0;
}

legend {
    padding-left: 0;
}

footer {
    bottom: 0;
    font-size: 15px;
    padding-bottom: 10px;
    position: absolute;
}