// Variables for colors, fonts, etc.
$color-error-red: hsl(0, 66%, 54%);
$color-green-bg: hsl(145, 38%, 91%);
$color-green-border: #3d685e;
$color-green-button-hover: #063f36;
$color-green-form: hsl(169, 82%, 27%);
$color-green-toast: #2a4244;
$color-grey-border: #959b99;
$color-grey-text: #2f4543;
$color-white-text: hsl(0, 0%, 100%);
$font-stack: 'Karla', sans-serif;