.card {
    background-color: #fff;
    border-radius: 13px;
    box-sizing: border-box;
    // height: 773px;
    max-height: 773px;
    max-width: 736px;
    padding: 40px;
    // width: clamp(515px, 736px, 736px);

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, auto);
        grid-column-gap: 16px;
        grid-row-gap: 0px;

        .div1 { grid-area: 1 / 1 / 2 / 3; }
        .div2 { 
            display: flex;
            flex-direction: column;
            grid-area: 2 / 1 / 3 / 2; 
        }
        .div3 { 
            display: flex;
            flex-direction: column;
            grid-area: 2 / 2 / 3 / 3; 
        }
        .div4 { 
            display: flex;
            flex-direction: column;
            grid-area: 3 / 1 / 4 / 3; 
        }
        .div5 { grid-area: 4 / 1 / 5 / 3; }
        .div6 { 
            display: flex;
            flex-direction: column;
            grid-area: 5 / 1 / 6 / 3; 
        }
        .div7 { grid-area: 6 / 1 / 7 / 3; }
        .div8 { grid-area: 7 / 1 / 8 / 3; }
    }

    h1 {
        margin-bottom: 35px;
        margin-top: 0;
    }

    label {
        font-size: 1rem;
        margin-bottom: 11px;
    }

    #consent-label {
        cursor: pointer;
    }

    input {

        &[type="text"], &[type="email"] {
            border: 1px solid $color-grey-border;
            border-radius: 7px;
            box-sizing: border-box;
            font-family: inherit;
            font-size: 20px;
            height: 51px;
            padding: 13px 23px;
            width: 100%;

            &:hover {
                border: 1px solid $color-green-border;
                cursor: pointer;
            }
        }

        &[type="radio"] {
            appearance: none;
            background-clip: content-box;
            background-color: transparent;
            border: 2px solid $color-grey-border;
            border-radius: 50%;
            cursor: pointer;
            height: 20px;
            margin: 0;
            width: 20px;
            
            &:checked {
                background-color: $color-green-form;
                border: 2px solid $color-green-form;
                padding: 4px;
            }
        }

        &[type="checkbox"] {
            accent-color: $color-green-form;
            border-color: $color-grey-border;
            border-radius: 0px;
            height: 18px;
            margin: 0;
            width: 18px;

            &:hover {
                cursor: pointer;
            }
        }

        &[type="submit"] {
            background-color: $color-green-form;
            border: none;
            border-radius: 8px;
            color: $color-white-text;
            font-family: inherit;
            font-size: 18px;
            font-weight: 700;
            height: 59px;
            width: 100%;

            &:hover {
                background-color: $color-green-button-hover;
                cursor: pointer;
            }
        }
    }

    input:invalid {
        border: 1px solid $color-error-red;
    }

    textarea {
        border: 1px solid $color-grey-border;
        border-radius: 7px;
        box-sizing: border-box;
        font-family: inherit;
        font-size: 20px;
        height: 105px;
        line-height: 25px;
        padding: 13px 23px;
        resize: none;
        width: 100%;

        &:hover {
            border: 1px solid $color-green-border;
        }
    }

    .asterisk {
        color: $color-green-form;
        font-weight: bold;
    }

    .error {
        color: $color-error-red;
    }

    #query-container {
        display:flex;
    }

    .radio-container {
        align-items: center;
        border: 1px solid $color-grey-border;
        border-radius: 7px;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        gap: 14px;
        height: 51px;
        max-width: 360px;
        padding: 11px 20px;
        position: relative;

        &:nth-child(1) {
            margin-right: 8px;
        }

        &:nth-child(2) {
            margin-left: 8px;
        }

        &.selected {
            background-color: $color-green-bg;
            border: 1px solid $color-green-border;
        }
    }

    .checkbox-container {
        align-items: center;
        display: flex;
        gap: 20px;

        label {
            margin: 0;
        }
    }

    .error {
        cursor: default;
        margin-top: 14px;
        margin-bottom: 32px;
    }
}