.toast-container {
    background-color: $color-green-toast;
    border-radius: 11px;
    box-sizing: border-box;
    color: $color-white-text;
    height: 107px;
    margin: 0 auto;
    padding: 27px;
    padding-top: 0;
    position: absolute;
    top: 0;
    left: 50%;
    visibility: hidden;
    width: 450px;

    &.active {
        animation: slideDown 1s forwards, slideUp 1s forwards 9s;
        visibility: visible;
    }

    .toast {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }

    span {
        display: flex;
        width: 155px;
        justify-content: space-between;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translate(-50%, -150%);
    }
    to { 
        opacity: 1;
        transform: translate(-50%, 104%); 
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translate(-50%, 104%);
    } to {
        opacity: 0;
        transform: translate(-50%, -150%);
    }
}